/* Estilos Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 150px;
    text-align: center;
}

/* Header */

header{
    /* position: relative; */
    background-color:#e9ebf8;
   
}

h1{font: 1em sans-serif;
    font-size: 60px;
    color: red;
    margin: auto;

}
.titulo{
    height: 130px;
    display: flex;
    justify-content:space-around;
}
.logo{
    width:100px;  
    margin-top: 15px;
    
    
}
.logo img{
    width: 100%;
}
.bandera{
    margin:auto 20px;
    width: 50px;
}
.bandera img{
    width: 100%;
}


/* barra de navegacion */
nav ul {
    list-style: none;
    padding: 0;
}
nav li{
    position: relative;
}
nav li ul{
    position: absolute;
    display: none;
}
nav li:hover ul{
    display: block;
}

.cont-nav{
    display: flex;
    padding: 0;
    justify-content: flex-end;
       
}

.cont-nav li{
    margin-right: 10px;    
    transition: all 0.3s ease 0s;
    background-color: #c9d8dc;
    padding: 3px;
}

nav a{
    color: hsl(304, 26%, 37%);
    display: block;
    padding: 0 5px;
    text-decoration: none;
    font-size: 1.25em;
}
nav a:hover{
    background: rgba(0,0,0,.15);
}


/* decoradores */
.barra-amarilla {
    height: 1em;
    max-height: 10px;
    background-color: #e1c561;
  }
  
  .barra-verde {
    height: 2em;
    max-height: 20px;
    background-color: #4da1ac;
  }

/* carrusel de presentacion */
.contenedor-main{
    background-color:#e9ebf8;
    padding-top: 60px;
    padding-bottom: 60px;
}


.slider{
    
    width: 55%;   
    margin: auto;
    overflow: hidden;
    max-height: 450px;
   
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
  
}
.slider li{
   width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
.footer{
    background-color: #4da1ac;
    height: 200px;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25% {margin-left:-100%;}
    45% {margin-left:-100%;}

    50% {margin-left:-200%;}
    70% {margin-left:-200%;}

    75% {margin-left:-300%;}
    100%{margin-left:-300%;}
}
/* Laptop */
@media only screen and (max-width: 850px){
    h1{
        font-size: 40px;
    }
    .slider{
        width: 65%;
    }
}
/* Tablet */
@media only screen and (max-width: 600px){
    h1{
        font-size: 32px;
    }
    .slider{
        width: 73%;
    }
    .bandera{
        
        width: 35px;
    }
    .logo{
        width:70px;                          
    }
    .nav li a{
        font-size: 1em;
    }
    
}


/* MOBILE */
@media only screen and (max-width: 400px){

.nav{
  
    flex-direction: column;
    align-items: center;
}
.titulo{
    flex-wrap: wrap;
    margin-bottom: 65px;
}
.slider{
    width: 80%;
}

}
